--package_name=org.sufficientlysecure.ical,org.sufficientlysecure.ical.ui
--layout_file=ICSImportExport/src/main/res/xml/settings.xml
--resource_file=ICSImportExport/src/main/res/values/settings.xml
--settings_file=ICSImportExport/src/main/java/org/sufficientlysecure/ical/Settings.java
--activity_file=ICSImportExport/src/main/java/org/sufficientlysecure/ical/ui/SettingsActivityBase.java
Resources/ical_settings.asciidoc
